<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>UV Index App</title>
    </head>
    <body>
        <div class="container">
            <% if (locals.data) {%>
                <h1><span class="uv">UV</span>[<%= data.uv %>] App</h1>
                <p class="output"><span class="prompt">>></span> <%= data.res %></p>
            <% } else if (locals.err) {%>
                <h1><span class="uv">UV</span>[Error] App</h1>
                <p class="error"><span class="prompt">>></span> <%= err.message %></p>
            <% } else { %>
                <h1><span class="uv">UV</span>[Index] App</h1>
                <p class="output"><span class="prompt">>></span> Output should be shown here.</p>
            <% } %>
            <form action="/submit" method="post">
                <div class="input">
                    <label for="i1" id="l1">Enter your location</label>
                    <input type="text" placeholder="e.g. 12.8797, 121.7740" name="loc" id="i1">
                </div>
                <div class="buttons">
                    <button type="button" class="use">Use my own location</button>
                    <button type="submit" class="sub">Submit</button>
                </div>
            </form>
        </div>
    </body>
    <script src="function.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>